<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Temporary Email: <%= @email %></title>
</head>
<body>
  <h1>Your Temporary Email: <%= @email %></h1>
  <div id="emails">Waiting emails from <%= @email %> ... </div>
  <script>
    let timer;
    function fetchEmails() {
      fetch(`/emails/<%= @email %>`)
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.text();
        })
        .then(data => {
          clearTimeout(timer);
          document.getElementById('emails').innerHTML = data;
        })
        .catch((e) => {
          console.log(e, ', polling...')
          timer = setTimeout(fetchEmails, 5000);
        });
    }

    fetchEmails();

  </script>
</body>
</html>
